<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOP_Project_SalesAndInventory.Properties.Settings.OOPStaffConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\OOPStaff.accdb"
            providerName="System.Data.OleDb" />
        <add name="OOP_Project_SalesAndInventory.Properties.Settings.DBCS_OOPConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DBCS-OOP.accdb"
            providerName="System.Data.OleDb" />
        <add name="OOP_Project_SalesAndInventory.Properties.Settings.OOP_DATABASEConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\OOP-DATABASE.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>